/* Theme style overrides */

.MuiButton-selected {
  background-color: #00ffe035 !important;
  border-color: #00ffe0 !important;
}

.MuiCardContent-root:last-child {
  padding-bottom: 16px !important;
}

.clearAll {
  height: 10px;
  text-align: right !important;
  color: black !important;
  font-weight: bold !important;
  background-color: #00ffe0 !important;
}

.clearAll:hover {
  background-color: #18796b !important;
  color: black;
}

.clearEach {
  height: 10px;
  width: 10px;
  margin-left: 1em;
}

.personInqueue {
  text-align: left;
  margin: 0 1em;
}

.subheading {
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
  background-color: #202223;
  margin: 0;
}

.title {
  font-size: 1.1em;
}

.MuiButtonBase-root.MuiToggleButton-root {
  margin-left: 10px;
}
