@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", "sans-serif";
}
body,
html {
  height: 100%;
}

li,
a {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  font-family: "Montserrat", "Arial", "sans-serif";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  position: sticky;
  top: 0;
  background-color: white;
}

header a {
  color: #ffb001;
}

.logo a {
  font-size: 2rem;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #715026;
}

.bg {
  height: 80%;
  background-image: url("images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  padding: 200px 0 0 20px;
}

.text p {
  font-size: 3.5em;
  font-weight: 200;
  margin: 0.4em 0;
}
.text p span {
  font-weight: 400;
}

.wrapper {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 280px;
  width: 841px;
  margin: 0 auto;
}

.prototypes img {
  height: 540px;
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.design ul li {
  margin-left: 20px;
}

.usablegoals ul li {
  margin-left: 20px;
}

.circle img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
table tr#ROW1 {
  background-color: #e16a66;
  color: white;
}
table tr#ROW2 {
  background-color: white;
}
table tr#ROW3 {
  background-color: #ecede8;
  color: black;
}
