/* Theme style overrides */

.Mui-selected {
  background-color: #00FFE035 !important;
  border-color: #00FFE0 !important;
}

.MuiCardContent-root:last-child{
  padding-bottom: 16px !important;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-1{
  padding-left: 16px;
}

.MuiPaper-root.MuiCard-root.jss6.MuiPaper-elevation1.MuiPaper-rounded{
  margin-top: 0 !important;
}
