body {
  background-color: #454647;
}

.App {
  text-align: center;
  max-width: 7in;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.main {
  max-width: 400px;
  margin: 0 auto;
  background-color: #454647;
}

.relier {
  font-family: "Montserrat", sans-serif;
  margin: 1em auto 0.5em;
  font-weight: bold;
}
/* 
.MuiAccordionDetails-root .graph {
  margin: -1em 2em;
}
.MuiAccordionDetails-root2 .queueMain {
  margin: auto;
} */
.MuiAccordionSummary-root.Mui-expanded {
  height: 20px !important;
}

.MuiButtonBase-root.MuiAccordionSummary-root {
  background-color: #202223 !important;
}

.MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.MuiAccordionDetails-root {
  display: flex;
  flex-flow: column nowrap;
  padding: 0 2px !important;
  background-color: #202223 !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.makeStyles-card-6 {
  color: #fff;
  margin-top: 0px !important;
}
.MuiCardContent-root {
  padding: 20px 10px 2px !important;
}

.MuiPaper-root.MuiAccordion-root::before {
  display: none;
}

.MuiPaper-root.MuiAccordion-root.Mui-expanded {
  border-radius: 5px;
}

.chat-button {
  width: 50%;
}
