/* Theme style overrides */

.MuiToggleButton-selected {

  background-color: #00FFE035 !important;
  border-color: #00FFE0 !important;
}

.MuiCardContent-root:last-child{
  padding-bottom: 16px !important;
}