[Unit]
Description=Relier backend
After=network-online.target

[Service]
WorkingDirectory=/home/relier/repo/relier/backend
ExecStart=/usr/bin/node build/index.js
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
