.chat-main {
  width: 100%;
}
.chat {
  background-color: grey;
  border-radius: 1em;
  width: 100%;
  margin: 0 0 14px;
}
.messages {
  height: 25em;
  overflow: auto;
}

.chat-input {
  display: flex;
  justify-content: center;
}

ul.message-list {
  list-style-type: none;
  padding: 1em;
}

li.message {
  text-align: left;
  background-color: lightgrey;
  color: black;
  font-size: 1em;
  padding: 0.2em;
  margin: 0.2em;
  border-radius: 0.5em;
}
li.amAuthor {
  text-align: right;
  background-color: lightblue;
  color: black;
  font-size: 1em;
  padding: 0.2em;
  margin: 0.2em;
  border-radius: 0.5em;
}
span.author {
  font-weight: bold;
}

.chat-input input {
  width: 100%;
}

.chat-input > div {
  flex-grow: 1;
  padding: 0.2em;
}
